body {
    width: 100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    min-height: 100vh; 
    letter-spacing: 1px;
}
p {
    color: white;
    padding-top: 5%;
    padding-left: 10%;
    width: 80%;
    
}
h1 {
    font-size: 70px;
    padding-top: 50%;
    color: white;
}