#rig {	
	padding-inline: 200px;
	background-color:rgb(0, 0, 0);}
#rig li {	display: inline-block;
			width:30%;
			vertical-align:middle;
			box-sizing:border-box;
			margin:10px;
padding:0;}

.rig-cell {	display:block;
			position: relative;
			overflow:hidden;}
        
.rig-img {	display:block;
			width: 100%;
			height: 250px;
            width: 250px;
			border:none;
            border-radius: 50%;
			transform:scale(1);
transition:all 1s;
object-fit: cover;
}

/*#rig li:hover .rig-img {	transform:scale(1.05);}*/
        
.rig-overlay {	position: absolute;
				display:block;
				top: 0px;
				left: 0px;
				bottom: 0px;
				right: 0px;
				margin: auto;
                border-radius: 50%;
				background-color:rgb(95, 0, 146);
				background-size:50px 50px;
				opacity:0;
transition:all 0.6s;}

#rig li:hover .rig-overlay {	opacity:0.5;}


.rig-text {	display:block;
			padding:0 30px;
			box-sizing:border-box;
			position:absolute;
			left:0;
			width:100%;
			text-align:center;
			text-transform:capitalize;
			font-size:12px;
			font-weight:bold;
			font-family: 'Consolas', sans-serif;
			font-weight:normal;
			top:30%;
			color:rgb(255, 255, 255);
			opacity:0;
			transform:translateY(-20px);
transition:all .3s;}


#rig li:hover .rig-text {	transform:translateY(0px);
opacity:0.9;}
