body{
    margin: 0px;
    background-color: #1e1f26 ;
}

.topnav {
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.topnav a {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.4em;
    color: #f2f2f2;
    text-align: center;
    margin: 20px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
    display: inline-block;
    z-index: 2;
  }

.topnav a:hover {
    transform: skew(-20deg);
    color: #5f0092;
  }
  
.topnav a.active {
    
    padding-bottom: 3px;
    font-size: 30px;
    color: #5f0092;
  }

  .topnav a.active:hover {
    transform: none;
  }
